<!-- <div class="banner">
  <h1>Sample Banner</h1>
</div> -->
<style>
    div.relative {
      position: relative;
      left: 30px;
      border: 3px solid #73AD21;
    }
    </style>
  
   <style>
    .image-txt-container {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  </style>
  
  <style type="text/css" media="screen">
    * {
      margin: 0; 
      padding: 0;
    }
  
    div#banner { 
      position: absolute; 
      top: 0; 
      left: 0; 
      background-color: #3f1403; 
      width: 100%; 
    }
    div#banner-content { 
      width: 800px; 
      margin: 0 auto; 
      padding: 10px; 
      /*border: 1px solid rgb(255, 255, 255); */
    }
    div#main-content { 
      padding-top: 70px;
   }
  </style>
  <div id="banner">
        <div id="banner-content">
  <!--         <p style="color:aliceblue">713-854-7737</p> -->
  <div class ="image-txt-container">
  
                          <img src="/images/Radioactive_Tech_Solutions.png" alt="logo"
                          width="35"
                          height="35">
                          <p style="color:aliceblue" ></p>
  
          </div>
    </div>
  </div>
  
  
  
  
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Radioactive Tech Solutions</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_customer">Customer</a>
      </li>
      
  
    </ul> 
  </nav>
  