<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="jumbotron">
        <h1>Welcome to Radioactive Tech Solutions warranty management program! </h1>

        
            <img src="/images/Radioactive_Tech_Solutions.png" class="img-thumbnail" alt="Responsive image"/>
            

<h3> Manage your warrenties here</h3>

&nbsp;&nbsp;

      
            <h4>Our warrenties include:</h4>
                    
            <ul>
                <li>Six month</li>
                <li>1 year</li>    
            </ul>    


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>